<div class="tudo">

<script>
document.addEventListener('turbolinks:load', () => {

  initFlatpickr();
});
</script>
  <div class="container">

    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Cadastrar novo material</h1>
      <%= simple_form_for (@material) do |f| %>
        <%= f.input :descricao,
            required: true,
            label: "Descrição"%>
        <%= f.input :lote,
            required: true,
            label: "Lote"%>
        <%= f.input :vencimento,
            as: :string,
            label: "Data de Vencimento",
            autofocus: true,
            required: true,
            input_html: {class: "datepicker"} %>
        <%= f.input :quantidade,
            required: true,
            label: "Quantidade"%>
        <%= f.input :area, collection: ['Médico-Hospitalar', 'Farmácia', 'Odontologia'],
                label: "Área",
                required: true %>
        <%= f.input :observacao,
            required: false,
            label: "Observação"%>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
